[submodule "arch/thirdparty/chipyard"]
	path = arch/thirdparty/chipyard
	url = https://github.com/ucb-bar/chipyard.git
[submodule "buddy-mlir"]
	path = compiler/thirdparty/buddy-mlir
	url = https://github.com/buddy-compiler/buddy-mlir.git
	branch = examples
[submodule "bbdev"]
	path = bbdev
	url = https://github.com/mctang985211-coder/bbdev.git
[submodule "thirdparty/waveform-mcp"]
	path = thirdparty/waveform-mcp
	url = https://github.com/jiegec/waveform-mcp.git
[submodule "bebop"]
	path = bebop
	url = https://github.com/DangoSys/bebop
[submodule "bb-tests/workloads/lib/kernel"]
	path = bb-tests/workloads/lib/kernel
	url = https://github.com/DangoSys/bbkernel.git
[submodule "bb-tests/thirdparty/busybox"]
	path = bb-tests/thirdparty/busybox
	url = https://github.com/mirror/busybox.git
[submodule "bb-tests/thirdparty/linux"]
	path = bb-tests/thirdparty/linux
	url = https://github.com/firesim/linux.git
[submodule "thirdparty/bluefolk"]
	path = thirdparty/bluefolk
	url = https://github.com/DangoSys/bluefolk.git
[submodule "bb-tests/thirdparty/opensbi"]
	path = bb-tests/thirdparty/opensbi
	url = https://github.com/riscv-software-src/opensbi.git
	branch = master
[submodule "bb-tests/workloads/src/ModelTest/e2e"]
	path = bb-tests/workloads/src/ModelTest/e2e
	url = https://github.com/mctang985211-coder/buddy-examples.git
	branch = buckyball
[submodule "docs"]
	path = docs
	url = https://github.com/DangoSys/document.git
[submodule "verify"]
	path = verify
	url = https://github.com/DangoSys/verify
[submodule "arch/thirdparty/boom"]
	path = arch/thirdparty/boom
	url = https://github.com/SEU-ACAL/acal-boom.git
[submodule "arch/thirdparty/rocket-chip"]
	path = arch/thirdparty/rocket-chip
	url = https://github.com/SEU-ACAL/rocket-chip.git
[submodule "arch/thirdparty/rocket-chip-inclusive-cache"]
	path = arch/thirdparty/rocket-chip-inclusive-cache
	url = https://github.com/SEU-ACAL/rocket-chip-inclusive-cache.git
[submodule "arch/thirdparty/berkeley-hardfloat"]
	path = arch/thirdparty/berkeley-hardfloat
	url = https://github.com/SEU-ACAL/berkeley-hardfloat.git
[submodule "thirdparty/firesim"]
	path = thirdparty/firesim
	url = https://github.com/firesim/firesim.git
[submodule "thirdparty/soc-framework"]
	path = thirdparty/soc-framework
	url = https://github.com/DangoSys/soc-framework.git
